html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
  color: #121212;
  background: linear-gradient(253deg, #0F124C 7.17%, #191252 14.41%, #231258 23.11%, #2E105E 31.92%, #380D63 40.51%, #3B0A61 49.53%, #3E085E 57.21%, #40055C 64.35%, #3C0552 72.45%, #370649 79.23%, #320740 86.36%, #2D0737 93.43%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#root {
  display: flex;
  height: 100%;
  width: 100%;
}

#detail {
  flex: 1;
  padding: 2rem 4rem;
  width: 100%;
}
